@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --background-col: #212121;
    --background-sec-col: #323232;
    --font-col: #EEEEEE;
    --font-sec-col: #0d8fe6;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .3s linear;
}

*::selection{
    background:var(--font-sec-col);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--font-sec-col);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--font-sec-col);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--font-sec-col);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--font-sec-col);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--font-sec-col);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow:column;
    padding:0 15rem;
    
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--font-sec-col);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    text-transform: none;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info p{
    text-transform: none;
    font-size: 2rem;
    color:var(--font-col);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info p span{
    color:var(--font-sec-col);
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box img{
    height: 7rem;
    width: 7rem;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.experience .timeline-container {
    overflow-x: auto;
    padding: 20px 0;
    position: relative;
    white-space: wrap; /* Prevents the content from wrapping */
    /* Make sure the container width fits the content */
}

.experience .timeline-container::-webkit-scrollbar {
    height: 1.4rem; /* Adjust scrollbar height */
    position: absolute;
    bottom: 0; /* Position scrollbar at the bottom */
}

.experience .timeline-container::-webkit-scrollbar-track {
    background: #222;
}

.experience .timeline-container::-webkit-scrollbar-thumb {
    background: var(--font-sec-col);
}

.experience .timeline {
    display: flex;
    flex-direction:row;
    position: relative;
    /* Ensure the timeline width fits the total width of all items */
}

.experience .timeline-item {
    flex: 0 0 auto; /* Allow items to have a fixed width */
    max-width: 300px; /* Limit the width */
    margin-right: 40px; /* Space between items */
    position: relative;
    text-align: center; /* Center the content */
    display: inline-block; /* Ensure items are in a single row */
    box-sizing: border-box; /* Include padding and border in the width */
}


.experience .timeline-item::after {
    content: '⇠'; /* Larger arrow */
    position: absolute;
    top: 50%;
    right: -30px; /* Positioned to the right of each item */
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: var(--font-sec-col);
}

.experience .timeline-item:last-child::after {
    content: ''; /* Removes the arrow from the last item */
}

.experience .timeline-icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--font-sec-col);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.experience .timeline-content {
    background: #222;
    padding: 20px;
    border-radius: 5px;
    margin-top: 60px;
}

.experience .timeline-content span {
    font-size: 1.3rem;
    background: #333;
    color: var(--font-col);
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-bottom: 10px;
}

.experience .btn-website {
    display: flex;
    align-items: center; /* Center items vertically */
    text-decoration: none; /* Remove underline */
    color: var(--font-col); /* Text color */
    padding: 5px 10px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    transition: background 0.3s; /* Smooth background color change */
    max-width: 300px; /* Limit button width */
    overflow: hidden; /* Allow overflow to be visible */
}

.experience .btn-website:hover {
    background: var(--font-sec-col); /* Button background color */
}

.experience .btn-website-icon {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: inline-block;
}


.experience .timeline-content h3 {
    font-size: 1.8rem;
    color: var(--font-sec-col);
    margin-bottom: 5px;
}

.experience .timeline-content h2 {
    font-size: 1.5rem;
    color: var(--font-col);
    margin-bottom: 10px;
}

.experience .timeline-content p {
    font-size: 1.4rem;
    color: #eee;
    text-transform: none;
}

.experience .timeline-content ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.experience .timeline-content li {
    font-size: 1.4rem;
    color: #eee;
    margin-bottom: 5px;
}

.skills .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.skills .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.skills .row .info p{
    text-transform: none;
    font-size: 2rem;
    color:var(--font-col);
    padding:1rem 0;
    font-weight: normal;
}

.skills .row .info p span{
    color:var(--font-sec-col);
}

.skills .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.skills .row .counter .box img{
    height: 7rem;
    width: 7rem;
}

.skills .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}


.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #1a1a1a;
    z-index: 100;
    display: none;
}

.top:hover{
    background-color: var(--font-col);
    transform: scale(1.1);
}




/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .experience .box-container .box{
        width:100%;
    }
 }


 body {
    position: relative;
    z-index: 1;
}

header, section {
    background-color: rgba(0, 0, 0, 0.4);
}
